<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>Order to PDF</title>
</head>

<body class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 py-5" style="border: medium solid black">
                <!-- Περνάμε Method POST για να μας επιστρέψει τα στοιχεία απο το submit button. Συνεχίζουμε
             στο views.py στο def φτιάχνουμε την if. -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div>
                            <h2>NEW ORDER</h2>
                            <br>
                            <hr>
                        <!-- DES EDO -->
                        <label for="" class="form-label">Order Type:</label>

                            {{ form.order_type }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Customer's Name:</label>
                        <input type="text" class="form-control" id="customer_name" name="customer_name"
                            aria-describedby="" placeholder="Enter Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Customer's Address:</label>
                        <input type="text" class="form-control" id="customer_address" name="customer_address"
                            aria-describedby="" placeholder="Address, City, State, Post Code">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Supplier's Name:</label>
                        <input type="text" class="form-control" id="supplier_name" name="supplier_name"
                            aria-describedby="" placeholder="Enter The Supplier's Name"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Supplier's Address:</label>
                        <input type="text" class="form-control" id="supplier_address" name="supplier_address"
                            aria-describedby="" placeholder="Address, City, State, Post Code"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Products:</label>
                        <textarea type="text" class="form-control" id="products" name="products"
                            aria-describedby="" placeholder="-2 books, -3 tomatos"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Notes:</label>
                        <textarea type="text" class="form-control" id="notes" name="notes"
                            aria-describedby="" placeholder="Enter Your Notes Here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <a href="{% url 'history' %}" class="btn btn-dark">History</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>